<div class="topbar">

  <nav class='nav-bar nav-bar--left'>
    <ul class='nav-bar__lists'>
        <li> <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#smile">
          </use>
        </svg>
        <a class="nav-bar__lists__link" href="#">Hello</a>
        </li>


      </ul>
    </nav>

    <nav class='nav-bar nav-bar--right'>

      <ul class='nav-bar__lists nav-bar__lists--left'>
          <li>
             <a class="nav-bar__lists__link" href="#">
               <svg class="svg-icon">
                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
               </svg>
            </a>
          </li>
          <li><div class="nav-bar__lists__input-field">
            <input type="search" placeholder="Search.."name="" value="">
          </div>
        </li>
        </ul>



        <ul class='nav-bar__lists nav-bar__lists--right'>
            <li class="nav-bar__lists__link"> <a href="#">
                <a href="#" role="button" id="activities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown link</a>

                <div class="dropdown-menu" aria-labelledby="activities">
                    <a class="dropdown-menu__item" href="#">
                        <div class="circle">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                            </use>
                        </svg>
                        </div>

                            <div class="dropdown-menu__item__title">
                                <h5>Robert</h5>
                                <p class="">1 min.</p>
                            </div>
                        </a>
                <a class="dropdown-menu__item" href="#">Another action</a>
                <a class="dropdown-menu__item" href="#">Something else here</a>
                </div>

        </li>
        <li class="nav-bar__lists__link"> <a href="#">
            <a href="#" role="button" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notifications</a>

            <div class="dropdown-menu" aria-labelledby="notifications">
            <a class="dropdown-menu__item" href="#">Action</a>
            <a class="dropdown-menu__item" href="#">Another action</a>
            <a class="dropdown-menu__item" href="#">Something else here</a>
            </div>

    </li>
            <li class="nav-bar__lists__link"> <a href="#">
                <a href="#" role="button" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>

                <div class="dropdown-menu" aria-labelledby="profile">
                <a class="dropdown-menu__item" href="#">Action</a>
                <a class="dropdown-menu__item" href="#">Another action</a>
                <a class="dropdown-menu__item" href="#">Something else here</a>
                </div>

        </li>


          </ul>

      </nav>
</div>
