@mixin circle($height: 80px, $width: 80px){

    height: $height;
    width: $width;
    border-radius: 50%;
    position: relative;

    }

.circle {

    &--border{
        border: 4px solid;
    }
    &--success {
        background: $color-success;
        border-color: $color-success-ol;
    }
    &--primary {
        background: $color-primary;
        border-color: $color-primary-ol;
    }
    &--danger {
        background: $color-danger;
        border-color: $color-danger-ol;
    }
    &--secondary {
        background: $color-secondary;
        border-color: $color-secondary-ol;
    }
    &__svg {
        height: 32px;
        width: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 0;
        bottom: 0;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        stroke: white;
        fill: none;
        }
    }
