.section-container {
  margin-top: $nav-height + 20;
  margin-left: $nav-left-width + 20;
}

.boxes {
    margin-bottom: 20px;
    background: white;
    padding: 10px;
    &__title{
        text-align: left;
    }

    &__user-info{
            margin-left: 20px;
        p:nth-child(2) {
            opacity: 0.6;
        }
        }

    &--flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    &__image{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        -o-object-fit: cover;
           object-fit: cover;
    }
}
.user-role{
    &--master {
        color: $color-success;
    }
    &--user {
        color: $color-primary;
    }
    &--admin {
        color: $color-danger;
    }
}
