<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="boxes">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--success">
                            <svg class="circle__svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                                </use>
                            </svg>

                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>65,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--primary">
                            <svg class="circle__svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                                </use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>65,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--danger">
                            <svg class="circle__svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                                </use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>65,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--secondary">
                            <svg class="circle__svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                                </use>
                            </svg>


                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>65,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
