<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--border circle--success">
                            <svg class="circle__svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                                </use>
                            </svg>

                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>65,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--primary">
                            <svg class="circle__svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                                </use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>65,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--danger">
                            <svg class="circle__svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                                </use>
                            </svg>
                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>65,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="boxes boxes--right">
                <div class="row">
                    <div class="col-4">
                        <div class="circle circle--secondary">
                            <svg class="circle__svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                                </use>
                            </svg>


                        </div>
                    </div>
                    <div class="col-8 v-align">
                        <h5>65,570</h5>
                        <p>Today's visits</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Yearly sales report</h6>
                <canvas id="myChart"></canvas>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Yearly sales report</h6>
                <canvas id="myChart1"></canvas>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Yearly sales report</h6>
                <canvas id="myChart2"></canvas>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xl-8">
            <div class="boxes">
                <h6 class="boxes__title">Latest projects</h6>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Start Date</th>
      <th scope="col">Due Date</th>
      <th scope="col">Status</th>
      <th scope="col">Assign</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hello Admin v1</td>
      <td>01 / 01 / 2019 </td>
      <td>01 / 03 / 2019</td>
      <td>Released</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Hello FrontEnd v1</td>
      <td>01 / 01 / 2019</td>
      <td>01 / 03 / 2019</td>
      <td>Released</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Hello Admin v1.1</td>
      <td>01 / 01 / 2019</td>
      <td>01 / 03 / 2019</td>
      <td>Pending</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Hello FrontEnd v1.1</td>
      <td>01 / 01 / 2019</td>
      <td>01 / 03 / 2019</td>
      <td>Work In Progress</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Hello Admin v1.3</td>
      <td>01 / 01 / 2019</td>
      <td>01 / 03 / 2019</td>
      <td>Comming soon</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="row">
                <div class="col-12">
                    <div class="boxes boxes--flex">
                            <img class="boxes__image"src="assets/images/model.jpg" alt="user picture">
                            <div class="boxes__user--info v-align">
                                <h6>Chris</h6>
                                <p>user@email.com</p>
                                <p>User</p>

                            </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="boxes boxes--flex">
                            <img class="boxes__image"src="assets/images/model.jpg" alt="user picture">
                            <div class="boxes__user--info v-align">
                                <h6>Chris</h6>
                                <p>user@email.com</p>
                                <p>User</p>

                            </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="boxes boxes--flex">
                            <img class="boxes__image"src="assets/images/model.jpg" alt="user picture">
                            <div class="boxes__user--info v-align">
                                <h6>Chris</h6>
                                <p>user@email.com</p>
                                <p>User</p>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
